@{
    Layout = "_Layout";
}

<div class="row">
    <div class="col">
        @{
            Html.RenderPartial("StockPrices");
        }
    </div>
    <div class="col">
        @{
            Html.RenderPartial("MyWallet");
        }
    </div>
</div>

