<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">My Wallet</a>
    </nav>
    <table class="table">
        <thead>
            <tr>
                <th>Company</th>
                <th>Unit Price</th>
                <th>Amount</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>