<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light ">
        <a class="navbar-brand" href="#">Stock Prices</a>
    </nav>
    <table class="table">
        <thead>
        <tr>
            <th>Company</th>
            <th>Value</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        
        </tbody>
    </table>
</div>